@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto+Slab&display=swap');

/* 
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Slab', serif; */

*{
    margin: 0;
    padding: 0;
}

/*--------------------
     banner design 
---------------------- */


.banner{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../image/banner_image-02.jpg),
    linear-gradient(rgba(67, 97, 121, 0.486),rgba(90, 73, 241, 0.514));;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: 150vw 200vh;
    background-position: center top;
    background-attachment: fixed;
    overflow: hidden;
    outline: none;
}
.banner h3{
    font-size: 30px;
    padding: 15px;
    color: white;
}
.banner h1{
    font-size: 70px;
    text-transform: uppercase;
    padding: 15px;
    line-height: 90%;
    color: white;
    text-align: center;
    
}
.banner button{
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    background-color:yellow;
    color: blue;
    font-weight: 700;
    border: 3px solid yellow;
    outline:none;
    cursor: pointer;
    
}
.banner button:hover{
    background-color:blue;
    color: yellow;
    font-weight: 700;
    border: 3px solid yellow;
    transition: .3s ease-in-out;
}

/* -------------------
    A line
    ------------------ */

hr{
    height: 3vh;
    background-color:yellow;
}

.normal-line{
    height: 3px;
    background-color:yellow;
    color: yellow;
}

/* -----------------------
        our classes 
-------------------------- */
.classes-full-area{
    width: 100vw;
    background-color: #1b252f;
    border-top: 1px solid #1b252f;
    /* border-bottom: 1px solid black; */

}
.classes{
    width: 75%;
    margin: 80px auto;
}

.classes-text h3{
    font-size: 25px;
    color: yellow;
}
.class-text-line h1{
    font-size: 60px;
    display: inline;
    padding-right: 30px;
    color: white;
}
.class-text-line{
    display: flex;
    align-items: center;
}



/*--------------------------
         card area styles
---------------------------- */
.card-area{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.class-card{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
/* ektar bitore ekta tai emne likhche ..... jodi siblings hoto taile ekmon hoto na ~ eita use korte hobe */

.class-card:hover .card img{
    transform: scale(1.2);
    transition: 1s ease-in-out;
}
.card{
    width: 350px;
    height: 250px;
}

.card img{
    width: 350px;
    height: 250px;
}
.class-card h2{
    padding:20px;
    font-size: 30px;
    background-color: blue;
    color: white;
    z-index: 2;

}

/*-------------------- class button design---------------------- */

.class-button{
    margin: 50px 0px;
    text-align: center;
}

.class-button button{
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    background-color:yellow;
    color: blue;
    font-weight: 700;
    border: 3px solid yellow;
    outline:none;
    cursor: pointer;
    
}

.class-button button:hover{
    background-color:blue;
    color: yellow;
    font-weight: 700;
    border: 3px solid yellow;
    transition: .3s ease-in-out;
}

/*---------------------------
         workout section
----------------------------- */

.workout{
    display: flex;
    padding: 30px;
    margin-top: 50px;
    
}
.workout-image{
    position: relative;
    width: 40vw;
    height: 70vh;
    padding: 30px;
    overflow: hidden;
}
.image-01{
}

.image-02{
    position:absolute;
    top:260px;
    left:220px;
}
.workout-image img{
    width: 320px;
    height: 310px;
}


.workout-text{
    width: 60vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.workout-text-top h3{
    font-size: 20px;

}
.workout-text-top h1{
    font-size: 35px;
}

.workout-text-mideal{
    display: flex;
}
.part-1{
    width: 15vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.part-1 i{
    font-size: 50px;
}
.part-1 h1{
    font-size: 25px;
}
.part-1 p{
    font-size: 18px;
}






.workout-button button{
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    background-color:yellow;
    color: blue;
    font-weight: 700;
    border: 3px solid yellow;
    outline:none;
    cursor: pointer;
    
}
.workout-button:hover button{
    background-color:blue;
    color: yellow;
    font-weight: 700;
    border: 3px solid yellow;
    transition: .3s ease-in-out;
}



/*-------------------------------
         limits secation 
---------------------------------*/
.limits{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../image/limits-imge-02.jpg),
    linear-gradient(rgba(67, 97, 121, 0.486),rgba(241, 79, 73, 0.514));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position: center bottom;
    background-attachment: fixed;
    overflow: hidden;
    outline: none;
}
.limit-top{
    width: 50vw;
    height:25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    border-radius: 8px;
}

.limit-top h3{
    font-size: 25px;
    color: yellow;
}
.limit-top h1{
    font-size: 60px;
    color: white;
}


/* -----------------------
        client section
-------------------------- */


.clients{
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #1b252f;
    border-top: 3px solid yellow;
}

.clients-down{
    width: 50vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0e68fa;
    border-radius: 8px;
    position:absolute;
    top:-140px;
}

.clients-down i{
    width: 60px;
    height: 60px;
    font-size: 60px;
    color: blue;
    background-color: yellow;
    text-align: center;
}

.clients-down h2{
    font-size: 25px;
    color: yellow;
}

.clients-down h1{
    font-size: 45px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}


/* -----------------------
        trainers
-------------------------- */

.trainers{
    width: 100vw;
    background-color: #1b252f;
    border: 1px solid #1b252f;
}
.train{
    width: 75%;
    margin: 80px auto;
}
.trainer-details{
    height: 68vh;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.trainer{
    width: 17vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    border-radius: 3px;
}

.trainer:nth-child(even){
    margin-top: 50px;
}
.trainer:hover img{
    transform: scale(1.3);
    transition: .5s ease-in-out;
}

.trainer:hover .trainer-info{
    color: blue;
    background-color: yellow;
}

.trainer img{
    width: 17vw;
    height: 50vh;
}
#trainer-03 img{
    width: 32vw;
    height: 50vh;
}

#trainer-04 img{
    width: 20vw;
    height: 50vh;
    position: center top;
    overflow: hidden;
}
.trainer-info{
    width: 17vw;
    height: 12vh;
    background-color: blue;
    color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    z-index: 2;
}

.trainer-info h1{
    font-size: 25px;
}


.trainer-info p{
    font-size: 16px;
}





/* -------------------------
        challenge left
---------------------------- */
.challenge{
    background-color: blue;
    padding-top: 80px;
}
.challenge-details{
    display: flex;
    
}

.challenge-left{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.challenge-left{
    font-size: 20px;
}
.challenge-left h1{
    font-size: 50px;
    line-height: 80%;
    text-transform: uppercase;
    color: white;
    
}
.challenge-left{color: yellow;}

.book-button button{
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    background-color:yellow;
    color: blue;
    font-weight: 700;
    border: 3px solid yellow;
    outline:none;
    cursor: pointer;
    
}

.book-button button:hover{
    background-color:blue;
    color: yellow;
    font-weight: 700;
    border: 3px solid yellow;
    transition: .3s ease-in-out;
}


.challenge-right{
    position: relative;
    width: 50vw;
    height: 70vh;
}
#image-02{
    position:absolute;
    top:260px;
    left:260px;
}

.photo{
    width: 360px;
    height: 338px;
    overflow: hidden;
}

#last-image-01{
    width: 500px;
    height: 450px;
    z-index: 4;
}
#last-image-02{
    width: 560px;
    height: 538px;
    z-index: 1;
}




/* --------------------
        footer
----------------------- */


.footer-section{
    width: 95%px;
    margin: 0px auto;
    margin-top: 100px;
    text-align: center;
    background-color: #1b252f;
    color: white;
    padding: 100px 100px;
    
}
footer h1{

    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-transform: capitalize;
    line-height: 36px;
   
}
footer p{
    font-size: 16px;
}

.social-media{
    margin:10px 0px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.social-media img{
    width: 32px;
    height: 32px;
    padding: 5px 10px;
}